
#comment{
    border-top: 2px solid #DDD;
    margin-bottom: 50px;
    
    
}

#comment table{
    
    
    
    
}

#tr_border{
    
    border-bottom: 2px solid #DDD;
}

#td_border
{
    border-bottom: 2px solid #DDD;
    
}

#comment_count{
   
    font-size: 18px;
    text-align: right;
    margin-bottom: 30px;
}